@use "base/variables" as v;
@use "base/mixins" as m;

.formulario {
    width: 100%;
    margin-top: 5rem;

    .botones {
        display: flex;
        justify-content: space-between;
    }
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    @include m.telefono {
        flex-direction: row;
    }

    label {
        flex: 0 0 3rem;
        @include m.telefono {
            flex: 0 0 13rem;
        }
    }
    input {
        width: 100%;
        padding: 1rem;

        border: none;
        border-radius: 1rem;

        &:disabled {
            background-color: v.$gris;
        }
    }
}